:root {
	--font-size-main: 14.5px;
	--font-size-second: 11px;

	--color-main: rgba(0, 0, 0, 0.8);
	--border-main: rgba(0, 0, 0, 0.6);

	/* Button */
	--button-hover-backround: rgba(0, 0, 0, 0.8);
	--button-hover-color: rgba(255, 255, 255, 0.9);
	--font-size-button: 12.3px;
}

* {
	color: var(--color-main);
	box-sizing: border-box;
	font-size: var(--font-size-main);
}

main {
	padding: 12px;
	text-align: center;
}

#hangman {
	max-width: 670px;
	height: 350px;
	margin: 4.5vh auto;
}

.__header {
	border: 1px solid var(--border-main);
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	padding: 7px 12px;
	cursor: default;

	position: relative;
}

.__header ._help {
	width: 21px;
	padding: 3px;
	opacity: 0.6;
	cursor: pointer;

	position: absolute;
	top: 5px;
	left: 8px;
}

.__header ._help:hover {
	opacity: 0.9 !important;
}

.__header ._help-left {
	font-size: 10px;
	opacity: 0.9;
	text-decoration: none;

	position: absolute;
	top: 11px;
	left: 29px;
}

.__header span {
	text-decoration: underline;
}

.__game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--border-main);
	height: 280px;
	padding: 0 8px;

	position: relative;
}

.__game ._guess-word {
	margin: 30px 0 25px 0;
}

.__game ._guess-word span {
	border-bottom: 1px solid var(--color-main);
	margin: 0 5px;
	padding: 2px 8px;
	cursor: default;
	line-height: 24px;
}

.__game ._key {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
}

.__game ._key span {
	background: none;
	border: 1px solid var(--border-main);
	margin: 2px;
	padding: 7px 12px;
	font-size: var(--font-size-button);
	cursor: pointer;
}

.__game ._key span:hover {
	background: var(--button-hover-backround);
	color: var(--button-hover-color);
}

.__game ._key span:nth-child(38) {
	grid-column: span 2;
}

.__play-again {
	display: flex;
}

.__play-again select {
	border: 1px solid var(--border-main);
	border-top: none;
	width: 60%;
	padding: 7px 12px;
	font-size: var(--font-size-button);
	font-style: italic;
}

.__play-again select:focus {
	outline: none;
}

.__play-again select option {
	font-size: var(--font-size-second);
}

.__play-again button {
	background: none;
	border: 1px solid var(--border-main);
	border-top: none;
	border-left: none;
	width: 40%;
	padding: 7px 12px;
	font-size: var(--font-size-button);
	cursor: pointer;
}

.__play-again button:hover {
	background: var(--button-hover-backround);
	color: var(--button-hover-color);
}

.__notice {
	color: var(--color-main);
	padding: 0 12px;
	margin-top: 9.715px;
	font-size: 11px;
}

.__notice a {
	font-size: 11px;
}

/* Extra */

.clicked {
	opacity: 0.7;
}

.clicked:hover {
	background: none !important;
	color: var(--color-main) !important;
	opacity: 0.7 !important;
	cursor: default !important;
}

.clicked-wrong {
	color: rgba(255, 0, 0, 0.9) !important;
	opacity: 0.7;
}

.clicked-wrong:hover {
	background: none !important;
	color: rgba(255, 0, 0, 0.9) !important;
	opacity: 0.7 !important;
	cursor: default !important;
}

.clicked-hint {
	color: rgba(255, 255, 0, 0.9);
	opacity: 0.7;
}

.clicked-hint:hover {
	background: none !important;
	color: rgba(255, 255, 0, 0.9) !important;
	opacity: 0.7 !important;
	cursor: default !important;
}

._win-lose {
	position: absolute;
	top: 12px;
}

/* Media Query */

@media (max-width: 475px) { /* Decrease by 30.3% */
	* {
		font-size: 10.107px !important;
	}

	.__header ._help {
		width: 14.637px;
		top: 3.485px;
		left: 5.576px;
	}

	.__header ._help-left {
		font-size: 6.97px !important;

		top: 7.667px;
		left: 20.213px;
	}

	.__game {
		height: 195.16px;
		padding: 0 5.576px;
	}

	.__game ._guess-word {
		margin: 20.91px 0 17.425px 0;
	}

	.__game ._guess-word span {
		margin: 0 3.485px;
		padding: 1.394px 5.576px;
		line-height: 16.728px;
	}

	.__game ._key span,
	.__header, button, select {
		padding: 4.879px 6.97px !important;
	}

	._win-lose {
		top: 8.364px;
	}
}

@media (max-width: 350px) { /* Decrease by 50% */
	* {
		font-size: 7.25px !important;
	}

	.__header ._help {
		width: 10.5px;
		top: 2.5px;
		left: 4px;
	}

	.__header ._help-left {
		font-size: 5px !important;

		top: 5.5px;
		left: 14.5px;
	}

	.__game {
		height: 140px;
		padding: 0 4px;
	}

	.__game ._guess-word {
		margin: 15px 0 12.5px 0;
	}

	.__game ._guess-word span {
		margin: 0 2.5px;
		padding: 1px 4px;
		line-height: 12px;
	}

	.__game ._key span,
	.__header, button, select {
		padding: 3.5px 6px !important;
	}

	._win-lose {
		top: 6px;
	}
}